.spinner {
    margin: 20px auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.carregando-texto {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo Global */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
}
  
/* Estilo logo */
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
/* Container com a imagem de fundo */
.container {
    background: url('assets/fundo-pedra-papel-tesoura.PNG') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
/* Conteúdo da div para texto e botão */
.content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
}
  
.content h2 {
    margin-bottom: 20px;
}
  
/* Estilos botões */
button {
    background-color: #ff1b7b;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #1ABC9C;
}

input {
    background-color: hsla(168, 76%, 42%, 0.171);
    border: 1px solid #1ABC9C;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

input::placeholder {
    color: white;
    opacity: 1;
}
  
/* Estilo footer */
footer {
    text-align: center;
    padding: 5px;
}

/* MEDIA QUERY para telas menores que 600px (celulares) */
@media (max-width: 600px) {
    .content {
      padding: 15px 20px;
    }
  
    h2, h3 {
      font-size: 1.2em;
    }
  
    button {
      width: 90%;
      font-size: 1.1em;
      margin: 10px auto;
      display: block;
    }
  
    input {
      width: 90%;
      margin: 10px auto;
      display: block;
    }
  
    .logo {
      top: 10px;
      right: 10px;
      max-width: 100px;
    }
  
    .spinner {
      width: 40px;
      height: 40px;
      border-width: 6px;
    }
  
    .carregando-texto {
      font-size: 1rem;
    }
  }
  
  